<!DOCTYPE html>
<head>
  <!-- some code is commented because i just dont have the heart to kill them-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta itemprop="name" content="Mkutano Travel">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://mkutanotravel.co.ke/assets/revision844_banner.png">
    <meta property="og:image" content="http://mkutanotravel.co.ke/assets/revision844_banner.png" />
    <meta itemprop="url" content="">
    <meta name="author" content="HabaHaba">
    <%= favicon_link_tag 'favicon.ico' %>

  <title> Mkutano </title>

</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<!-- main content -->
<div id="landing" class="landing section ">
    <div class="container text-center">
        <%#= image_tag("logo-frontpage-5bf33be43c14454b9b82428bcb16e356.png", alt: "Logo frontpage", class: "logo"  )%>
        <%= image_tag("", class: "explore in-app bounce glyphicon glyphicon-chevron-down") %> 
        <!--<a href="index.html#intro" class="explore in-app bounce"><span class="glyphicon glyphicon-chevron-down"></span></a>-->
    </div>
</div>

<div id="about" class=" section">
  <div class="container text-center">
    <h1 class="about-title page-title padded-bottom">About</h1>
    <div class="about-text row">
     <p>Mkutano Business Travel is a regional conference and events specialist.</p>
     <p>Offering a host of services, we collaborate with you to select the most appropriate events, and further maximise the development opportunities available to you. </p>
     <p>This gives you a greater return on your resource investment enabling you to meet your objectives and grow.</p>
    </div>

    <h1 class="page-title padded-bottom"> Our Services Include </h1>
    <!-- ### to add check box, do class=" check" to p, to remove do reverse -->
    <div class="row free" style="border-bottom:none;">
      <div class="col-sm-6 text-left features">
        <p class="about-text icon-li check" >Event Consultation</p>
        <p class="about-text icon-li check">Event Ticketing, Accomodation and Travel Booking as required</p>
        <p class="about-text icon-li check">Event Materials</p>
        <p class="about-text icon-li check">Event Briefing and Itineraries</p>
        <p></p>
      </div>
      <div class="col-sm-6 text-left features" style="border-right:none;"><!-- add a class called price to make text green -->
        <p class="about-text icon-li ">To assist you in selecting the event(s) most suited to your needs</p>
        <p class="about-text icon-li ">To help you get competitive preferential rates</p>
        <p class="about-text icon-li " >To help you effectively showcase your product or service </p>
        <p class="about-text icon-li " >To help you know what to expect and therefore make the most of your time</p>
      </div>
      <p class="about-text"> ... and several other benefits such as discounted professional training and travel rates.</p>
      <p class="about-text" >Industry events are indeed the new way of doing business. Don’t get left behind.
        <%= link_to "Speak to us", :anchor => "footer" %> today to see how we can help you.
      </p>
    </div>
  </div>
</div>

<div id="publications" class=" s-green section">
  <div class="container text-center">
    <h1 class="page-title padded-bottom price pub-title"> Newsletters &amp; Publications</h1>
    <p class="pub-text">
      Don’t miss out on our monthly newsletter. Subscribe today :
    </p>

    <!-- new sign up form for mail chimp-->
    <div id="mc_embed_signup_scroll" style="margin-bottom: 1em;">
      <form id="searchbox" action="//mkutanotravel.us10.list-manage.com/subscribe/post?u=a15192d07e7f3fd4cbde264bd&amp;id=08895c0f8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input id="mce-EMAIL" type="email" placeholder="Enter Your Email" class="required email pub-text" style="color:black; text-align:center;" style="border-radius: 10px 0px 0px 10px;">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_a15192d07e7f3fd4cbde264bd_08895c0f8d" tabindex="-1" value="">
          </div>
        <input id="mc-embedded-subscribe" type="submit" value="Subscribe"name="subscribe" class="pub-text"style="background-color: #66ff66; border: 2px solid #aed365; border-radius: 5px; font-weight:bold;" >
      </form>
    </div>
    <div class="row free">
      <div class="col-sm-6 text-left features">
        <h2 class="icon-li page-title padded-bottom pub-title"> Newsletters</h2>
        <!-- the link to below is just an experiment to see how it will look like in the future -->
        <p class="icon-li pub-text"><%= link_to "March 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text" %></p>
        <p class="icon-li pub-text">A web revision app that is desktop, tablet and mobile-friendly</p>
      </div>
      <div class="col-sm-6 text-left features " style="border-right:none;">
        <h2 class="icon-li page-title padded-bottom pub-title"> Other Publications</h2>
        <p class="icon-li pub-text">Other Publication One</p>
        <p class="icon-li pub-text">Other publication Two </p>
      </div>
      </div>
  </div>
    </div>
  </div>
</div>

<div id="contact" class="getstarted section s-black">
  <div class="container">
    <footer>
      <div id="footer"class="row">
        <div class=" padded-bottom">
            <p class="footer-title caps">Contact Us</p>
            
            <p class="foot-contact">Email : <a href="mailto:hello@revision844.co.ke">hello@mkutatanotravel.com</a></p>
            <p class="foot-contact">Phone Number : <a href="tel:0717565133"> 0717 164 504</a></p>
            <p class="foot-contact">Facebook : <a href="https://www.facebook.com/pages/Mkutano-Business-Travel/1649182765308583?fref=ts">Mkutano Business Travel</a></p>
            <p class="foot-contact">Twitter : <a href="https://twitter.com/?lang=en">@mkutanotravel</a></p>
        </div>
    </footer>
  </div>
</div>



<!-- *************** AREA 51 ********************-->

</body>
</html>